<a href="https://colab.research.google.com/github/stevegbrooks/big-portfolio-learner/blob/data_integration/GLM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CIS 545 Final Project

## Big Portfolio Learner: Integrate Other Data

### Team members: Steven Brooks & Chenlia Xu

# Section 1: Setting Up Environment

In [2]:
import random
import numpy as np 
import json
import matplotlib
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
from datetime import datetime
import glob
import seaborn as sns
import re
import os

In [3]:
%%capture
## If boto3 not already installed uncomment the following:
!pip3 install boto3

In [4]:
import boto3
from botocore import UNSIGNED

from botocore.config import Config

s3 = boto3.resource('s3', config=Config(signature_version=UNSIGNED))
s3.Bucket('cis545project').download_file('data/stock_data.zip', 'stock_data.zip')
s3.Bucket('cis545project').download_file('data/technical_data.zip', 'technical_data.zip')

In [5]:
%%capture

stock_dir = "stock_data"
if not os.path.exists(stock_dir):
  os.makedirs(stock_dir)
!unzip /content/stock_data.zip -d /content/$stock_dir
!rm -f $stock_dir/.gitempty

# tech_dir = "technical_data"
# if not os.path.exists(tech_dir):
#   os.makedirs(tech_dir)
# !unzip /content/technical_data.zip -d /content/$tech_dir
# !rm -f $tech_dir/.gitempty

# Section 2: Setup Spark Session

In [6]:
%%capture

!apt install libkrb5-dev
!pip install findspark
!pip install sparkmagic
!pip install pyspark
!pip install pyspark --user
!pip install seaborn --user
!pip install imageio --user
!pip install folium --user

!apt update
!apt install gcc python-dev libkrb5-dev

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import pyspark.sql.functions as F

import os

spark = SparkSession.builder.getOrCreate()

In [8]:
%load_ext sparkmagic.magics

In [9]:
#graph section
import networkx as nx
# SQLite RDBMS
import sqlite3
# Parallel processing
# import swifter
import pandas as pd
# NoSQL DB
from pymongo import MongoClient
from pymongo.errors import DuplicateKeyError, OperationFailure

import os
os.environ['SPARK_HOME'] = '/content/spark-2.4.5-bin-hadoop2.7'
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
import pyspark
from pyspark.sql import SQLContext

try:
    if(spark == None):
        spark = SparkSession.builder.appName('Initial').getOrCreate()
        sqlContext=SQLContext(spark)
except NameError:
    spark = SparkSession.builder.appName('Initial').getOrCreate()
    sqlContext=SQLContext(spark)

# Section 3: Load stock and technical data

In [10]:
stock_data_sdf = spark.read.load(
    'stock_data/*.csv', 
    format = 'csv', 
    header = 'true', 
    inferSchema = 'true', 
    sep = ','
)

First we'll set up the spark dataframe for stock prices using the work in `step1a`.

In [11]:
from pyspark.sql.functions import to_timestamp
from pyspark.sql.functions import year, month, date_format


stock_data_sdf = stock_data_sdf.withColumn("timestamp_as_dt", to_timestamp(stock_data_sdf.timestamp, 'yyyy-MM-dd'))
stock_data_sdf = stock_data_sdf.withColumn("year", year('timestamp_as_dt'))
stock_data_sdf = stock_data_sdf.filter("year >= 2002 AND year <= 2019")

count_by_symbol_year_sdf = stock_data_sdf.groupBy(["symbol", "year"]).count()
count_years_by_symbol_sdf = count_by_symbol_year_sdf.groupBy(["symbol"]).count()

### Just grab stocks that have data in each of the 18 years from 2002 to 2019
### AND remove the three outliers
stocks_with_all_analysis_yrs_sdf = count_years_by_symbol_sdf.filter("count == 18") #18 years of data from 2002 and 2019
stocks_to_remove = ['DCTH', 'BRK-A', 'AIKI']
stocks_with_all_analysis_yrs_sdf = stocks_with_all_analysis_yrs_sdf.filter(stocks_with_all_analysis_yrs_sdf.symbol.isin(stocks_to_remove) == False)

stock_data_sdf.createOrReplaceTempView("stock_data")
stocks_with_all_analysis_yrs_sdf.createOrReplaceTempView("stocks_with_all_analysis_yrs")

stock_data_2002_2019_sdf = spark.sql(
    """
    SELECT *
    FROM stock_data
    WHERE symbol IN (SELECT symbol FROM stocks_with_all_analysis_yrs)
    """
)

Second, we set up the spark dataframe for technical indicators.

In [12]:
# technical_data_sdf = spark.read.load(
#     'technical_data/*.csv', 
#     format = 'csv', 
#     header = 'true', 
#     inferSchema = 'true', 
#     sep = ','
# )

Then we will reduce the technical data set to just those stocks that match up with the first dataset above.

In [13]:
# technical_data_sdf = technical_data_sdf.withColumn("timestamp_as_dt", to_timestamp(technical_data_sdf.timestamp, 'yyyy-MM-dd'))
# technical_data_sdf = technical_data_sdf.withColumn("year", year('timestamp_as_dt'))
# technical_data_sdf = technical_data_sdf.filter("year >= 2002 AND year <= 2019")

# technical_data_sdf.createOrReplaceTempView("technical_data")

# technical_data_2002_2019_sdf = spark.sql(
#     """
#     SELECT *
#     FROM technical_data
#     WHERE symbol IN (SELECT symbol FROM stocks_with_all_analysis_yrs)
#     """
# )

Next step is to clean up technical data (especially fixing the schema so its numeric instead of string) and then setting it up for modeling.

# Section 4: Load Other Data.

### Step 1: Download other data from google drive.

In [16]:
# from google.colab import drive
# drive.mount('/content/gdrive')

os.mkdir('/content/other_data')
!cp '/content/gdrive/My Drive/other_data/forex.csv' other_data/forex.csv
!cp '/content/gdrive/My Drive/other_data/gdp.csv' other_data/gdp.csv
!cp '/content/gdrive/My Drive/other_data/stockindex.csv' other_data/stockindex.csv
!cp '/content/gdrive/My Drive/other_data/tbond.csv' other_data/tbond.csv
!cp '/content/gdrive/My Drive/other_data/unemployment.csv' other_data/unemployment.csv

### Step 2: Acquire overnight stock index performance of other major stock markets, e.g. FTSE, DAX, CAC, Nikkei, HKSE, SHSE.

In [17]:
stockindex_data = pd.read_csv('/content/other_data/stockindex.csv')

stockindex_data = stockindex_data[['date', 'FTSE100', 'DAX', 'CAC', 'Nikkei225', 'Hang_Seng', 'SHSZ300']]
stockindex_data['date'] = pd.to_datetime(stockindex_data.date)
stockindex_data = stockindex_data[stockindex_data['date'] < pd.Timestamp(2020,1,1)]

# filling missing data
stockindex_data = stockindex_data.fillna(method='ffill')
stockindex_data.iloc[0, stockindex_data.columns.get_loc('Nikkei225')] = 10871.49
stockindex_data.iloc[1, stockindex_data.columns.get_loc('Nikkei225')] = 10871.49
stockindex_data.iloc[0, stockindex_data.columns.get_loc('SHSZ300')] = 1316.46
stockindex_data.iloc[1, stockindex_data.columns.get_loc('SHSZ300')] = 1316.46

# add quarter / month column
stockindex_data['quarter'] = stockindex_data['date'].dt.to_period('Q')
stockindex_data['month'] = stockindex_data['date'].dt.to_period('M')

# calculating day-over-day % price change
stockindex_data['FTSE100_DoD'] = stockindex_data['FTSE100'].pct_change(1)
stockindex_data['DAX_DoD'] = stockindex_data['DAX'].pct_change(1)
stockindex_data['CAC_DoD'] = stockindex_data['CAC'].pct_change(1)
stockindex_data['Nikkei225_DoD'] = stockindex_data['Nikkei225'].pct_change(1)
stockindex_data['Hang_Seng_DoD'] = stockindex_data['Hang_Seng'].pct_change(1)
stockindex_data['SHSZ300_DoD'] = stockindex_data['SHSZ300'].pct_change(1)
stockindex_data = stockindex_data[['date', 'quarter', 'month', 'FTSE100_DoD', 'DAX_DoD', 'CAC_DoD', 'Nikkei225_DoD', 'Hang_Seng_DoD', 'SHSZ300_DoD']]
                        
stockindex_data.head()

        date quarter    month  ...  Nikkei225_DoD  Hang_Seng_DoD  SHSZ300_DoD
0 2002-01-02  2002Q1  2002-01  ...            NaN            NaN          NaN
1 2002-01-03  2002Q1  2002-01  ...       0.000000       0.006402     0.000000
2 2002-01-04  2002Q1  2002-01  ...       0.000000       0.024391     0.000000
3 2002-01-07  2002Q1  2002-01  ...       0.006519       0.016278    -0.010923
4 2002-01-08  2002Q1  2002-01  ...      -0.022551      -0.015045    -0.007196

[5 rows x 9 columns]

### Step 3: Acquire tresaury bond (1-yr, 3yr, 10-yr) market daily performance

In [18]:
tbond_data = pd.read_csv('/content/other_data/tbond.csv')

tbond_data = tbond_data[['date', '3M', '1Y', '10Y']]
tbond_data['date'] = pd.to_datetime(tbond_data.date)
tbond_data = tbond_data[tbond_data['date'] < pd.Timestamp(2020,1,1)]

tbond_data['3M_DoD'] = tbond_data['3M'].pct_change(1)
tbond_data['1Y_DoD'] = tbond_data['1Y'].pct_change(1)
tbond_data['10Y_DoD'] = tbond_data['10Y'].pct_change(1)
tbond_data = tbond_data[['date', '3M_DoD', '1Y_DoD','10Y_DoD']]
                        
tbond_data.head()

        date    3M_DoD    1Y_DoD   10Y_DoD
0 2002-01-02       NaN       NaN       NaN
1 2002-01-03 -0.005747 -0.017544 -0.007692
2 2002-01-04 -0.005780  0.004464  0.003876
3 2002-01-07 -0.023256 -0.026667 -0.017375
4 2002-01-08  0.000000  0.000000  0.001965

### Step 4: Acquire forex market (USD/EUR, USD/JPY, USD/AUD, etc.) daily performance.

In [19]:
forex_data = pd.read_csv('/content/other_data/forex.csv')

forex_data = forex_data[['date', 'USDGBP', 'USDEUR', 'USDJPY', 'USDHKD', 'USDAUD', 'USDCAD']]

# filling missing data
forex_data = forex_data.fillna(method='ffill')

# convert data format
forex_data['date'] = pd.to_datetime(forex_data.date)
forex_data = forex_data[forex_data['date'] < pd.Timestamp(2020,1,1)]

# calculating day-over-day % price change
forex_data['USDGBP_DoD'] = forex_data['USDGBP'].pct_change(1)
forex_data['USDEUR_DoD'] = forex_data['USDEUR'].pct_change(1)
forex_data['USDJPY_DoD'] = forex_data['USDJPY'].pct_change(1)
forex_data['USDHKD_DoD'] = forex_data['USDHKD'].pct_change(1)
forex_data['USDAUD_DoD'] = forex_data['USDAUD'].pct_change(1)
forex_data['USDCAD_DoD'] = forex_data['USDCAD'].pct_change(1)
forex_data = forex_data[['date', 'USDGBP_DoD', 'USDEUR_DoD', 'USDJPY_DoD', 'USDHKD_DoD', 'USDAUD_DoD', 'USDCAD_DoD']]
                        
forex_data.head()

        date  USDGBP_DoD  USDEUR_DoD  ...  USDHKD_DoD  USDAUD_DoD  USDCAD_DoD
0 2002-01-02         NaN         NaN  ...         NaN         NaN         NaN
1 2002-01-03    0.005496   -0.003692  ...   -0.000026   -0.000412    0.001317
2 2002-01-04   -0.006185    0.009219  ...    0.000038   -0.011121   -0.000626
3 2002-01-07    0.004921    0.002418  ...    0.000077    0.004634   -0.000689
4 2002-01-08    0.000720    0.003484  ...    0.000013   -0.010158    0.004704

[5 rows x 7 columns]

### Step 5: Acquire economic data, including monthly unemployment rate, quarterly yoy GDP growth.

In [20]:
gdp_data = pd.read_csv('/content/other_data/gdp.csv')

gdp_data = gdp_data[['date', 'real_gdp']]

# filling missing data
gdp_data = gdp_data.fillna(method='ffill')

# convert data format
gdp_data['date'] = pd.to_datetime(gdp_data.date)
gdp_data = gdp_data[gdp_data['date'] < pd.Timestamp(2020,1,1)]
gdp_data['real_gdp_QoQ'] = gdp_data['real_gdp'].pct_change(1)
gdp_data = gdp_data.drop(columns=['real_gdp'])

# add quarter column
gdp_data['quarter'] = gdp_data['date'].dt.to_period('Q')

gdp_data.head()

        date  real_gdp_QoQ quarter
0 2002-03-31           NaN  2002Q1
1 2002-06-30      0.006159  2002Q2
2 2002-09-30      0.004029  2002Q3
3 2002-12-31      0.001308  2002Q4
4 2003-03-31      0.005166  2003Q1

### Step 5: Acquire monthly unemployment data.

In [21]:
unemployment_data = pd.read_csv('/content/other_data/unemployment.csv')

unemployment_data = unemployment_data[['date', 'unemployment']]

# filling missing data
unemployment_data = unemployment_data.fillna(method='ffill')

# convert data format
unemployment_data['date'] = pd.to_datetime(unemployment_data.date)
unemployment_data = unemployment_data[unemployment_data['date'] < pd.Timestamp(2020,1,1)]
unemployment_data['unemployment_MoM'] = unemployment_data['unemployment'].pct_change(1)
unemployment_data = unemployment_data.drop(columns=['unemployment'])

# add month column
unemployment_data['month'] = unemployment_data['date'].dt.to_period('M')

unemployment_data.head()

        date  unemployment_MoM    month
0 2002-01-31               NaN  2002-01
1 2002-02-28          0.000000  2002-02
2 2002-03-31          0.000000  2002-03
3 2002-04-30          0.035088  2002-04
4 2002-05-31         -0.016949  2002-05

### Step 6: Merge all other data into a single dataframe.

In [22]:
all_other_data = stockindex_data.merge(tbond_data, left_on='date', right_on='date', how='left')
all_other_data = all_other_data.merge(forex_data, left_on='date', right_on='date', how='left')
all_other_data = all_other_data.merge(gdp_data, left_on='quarter', right_on='quarter', how='left')
all_other_data = all_other_data.merge(unemployment_data, left_on='month', right_on='month', how='left')

all_other_data = all_other_data.drop(columns=['date_x', 'date_y'])
all_other_data = all_other_data.dropna()

all_other_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4438 entries, 63 to 4682
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   quarter           4438 non-null   period[Q-DEC]
 1   month             4438 non-null   period[M]
 2   FTSE100_DoD       4438 non-null   float64
 3   DAX_DoD           4438 non-null   float64
 4   CAC_DoD           4438 non-null   float64
 5   Nikkei225_DoD     4438 non-null   float64
 6   Hang_Seng_DoD     4438 non-null   float64
 7   SHSZ300_DoD       4438 non-null   float64
 8   3M_DoD            4438 non-null   float64
 9   1Y_DoD            4438 non-null   float64
 10  10Y_DoD           4438 non-null   float64
 11  USDGBP_DoD        4438 non-null   float64
 12  USDEUR_DoD        4438 non-null   float64
 13  USDJPY_DoD        4438 non-null   float64
 14  USDHKD_DoD        4438 non-null   float64
 15  USDAUD_DoD        4438 non-null   float64
 16  USDCAD_DoD        4438 non-null   float64
 17  real_gdp_QoQ      4438 non-null   float64
 18  date              4438 non-null   datetime64[ns]
 19  unemployment_MoM  4438 non-null   float64
dtypes: datetime64[ns](1), float64(17), period[M](1), period[Q-DEC](1)
memory usage: 728.1 KB

# Section 5: Combine stock price with all other data to create mega_data.

### Step 1: Prepare stock data for integration.

In [23]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

price_window = Window.partitionBy("symbol").orderBy("symbol")
stock_data_2002_2019_sdf = stock_data_2002_2019_sdf.withColumn("prev_price", F.lead(stock_data_2002_2019_sdf.adjusted_close).over(price_window))
stock_data_2002_2019_sdf = stock_data_2002_2019_sdf.withColumn("price_DoD", F.when(F.isnull(stock_data_2002_2019_sdf.adjusted_close - stock_data_2002_2019_sdf.prev_price), 0).otherwise((stock_data_2002_2019_sdf.adjusted_close - stock_data_2002_2019_sdf.prev_price)/stock_data_2002_2019_sdf.prev_price))

stock_data_2002_2019_sdf.show()

+------+----------+--------------+-------+-------------------+----+-------------+--------------------+
|symbol| timestamp|adjusted_close| volume|    timestamp_as_dt|year|   prev_price|           price_DoD|
+------+----------+--------------+-------+-------------------+----+-------------+--------------------+
|   ABM|2019-12-31| 36.4209157617| 285355|2019-12-31 00:00:00|2019|36.8774386535|-0.01237946312078...|
|   ABM|2019-12-30| 36.8774386535| 226209|2019-12-30 00:00:00|2019|37.0023817608|-0.00337662337812...|
|   ABM|2019-12-27| 37.0023817608| 241733|2019-12-27 00:00:00|2019|37.1177138598|-0.00310719834296...|
|   ABM|2019-12-26| 37.1177138598| 357479|2019-12-26 00:00:00|2019|36.7140515133|0.010994764398414835|
|   ABM|2019-12-24| 36.7140515133| 166650|2019-12-24 00:00:00|2019|36.2719451338|0.012188659248053945|
|   ABM|2019-12-23| 36.2719451338| 519962|2019-12-23 00:00:00|2019|37.1946019258|-0.02480620155152132|
|   ABM|2019-12-20| 37.1946019258|1423851|2019-12-20 00:00:00|2019|37.4444881402|-0.00667351129128...|
|   ABM|2019-12-19| 37.4444881402|1099887|2019-12-19 00:00:00|2019|36.1470020266|0.035894708851516986|
|   ABM|2019-12-18| 36.1470020266| 733004|2019-12-18 00:00:00|2019|35.6376185893|0.014293419635310362|
|   ABM|2019-12-17| 35.6376185893| 463820|2019-12-17 00:00:00|2019|36.0220589193|-0.01067235859175...|
|   ABM|2019-12-16| 36.0220589193| 443653|2019-12-16 00:00:00|2019|35.6472295976|0.010514963601133092|
|   ABM|2019-12-13| 35.6472295976| 355037|2019-12-13 00:00:00|2019| 36.473776307|-0.02266139657278...|
|   ABM|2019-12-12|  36.473776307| 263648|2019-12-12 00:00:00|2019|36.6467744555|-0.00472069236843...|
|   ABM|2019-12-11| 36.6467744555| 185874|2019-12-11 00:00:00|2019| 36.589108406|0.001576044129310...|
|   ABM|2019-12-10|  36.589108406| 197232|2019-12-10 00:00:00|2019|36.6756074803|-0.00235849056751...|
|   ABM|2019-12-09| 36.6756074803| 322062|2019-12-09 00:00:00|2019|36.6563854638|5.243838490018341E-4|
|   ABM|2019-12-06| 36.6563854638| 281670|2019-12-06 00:00:00|2019|36.1950570678|0.012745618694172688|
|   ABM|2019-12-05| 36.1950570678| 239984|2019-12-05 00:00:00|2019|36.0989469853|0.002662406815886...|
|   ABM|2019-12-04| 36.0989469853| 239344|2019-12-04 00:00:00|2019|36.1566130348|-0.00159489633181...|
|   ABM|2019-12-03| 36.1566130348| 160156|2019-12-03 00:00:00|2019|36.2527231173|-0.00265111346778...|
+------+----------+--------------+-------+-------------------+----+-------------+--------------------+
only showing top 20 rows

### Step 2: Integration by joining stock data with all other data.

In [24]:
all_other_data_sdf = spark.createDataFrame(all_other_data) 

stock_data_2002_2019_sdf.createOrReplaceTempView("stock_data_0219_596")
all_other_data_sdf.createOrReplaceTempView("all_other_data")

mega_data_sdf = spark.sql(
    """
    SELECT stock_data_0219_596.symbol, stock_data_0219_596.timestamp_as_dt, stock_data_0219_596.adjusted_close, stock_data_0219_596.price_DoD, all_other_data.*
    FROM stock_data_0219_596
    LEFT JOIN all_other_data
      ON stock_data_0219_596.timestamp_as_dt = all_other_data.date;
    """
)

mega_data_sdf.show()

+------+-------------------+--------------+--------------------+-------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+----------------+
|symbol|    timestamp_as_dt|adjusted_close|           price_DoD|quarter|month|         FTSE100_DoD|             DAX_DoD|             CAC_DoD|       Nikkei225_DoD|       Hang_Seng_DoD|         SHSZ300_DoD|              3M_DoD|              1Y_DoD|             10Y_DoD|          USDGBP_DoD|          USDEUR_DoD|          USDJPY_DoD|          USDHKD_DoD|          USDAUD_DoD|          USDCAD_DoD|        real_gdp_QoQ|               date|unemployment_MoM|
+------+-------------------+--------------+--------------------+-------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+----------------+
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|-0.00587975563624...|                 0.0|-6.95394017605433E-4|                 0.0|-0.00457778221917...|0.003662752380789...|-0.01273885350318471| 0.01273885350318471|0.010526315789473717|-0.00432900432900...|-0.00212670696216...|-0.00549752611324...|2.568548128167869E-5|-0.00216843872411...|-0.00283156041937...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|-0.00756713626077...|-0.00660562895559...|-0.00913805468919...|-0.00759720308821...|0.003329268439584032| 0.01481838772957933|                 0.0|0.039735099337748325|0.010638297872340496|-0.00287769784172...|-0.00145300100592...|-0.00274122807017...|-7.70505066070015...|-0.00216374677182...|-9.17501338022819...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|0.001658752869406...|0.002716341201926653|0.001300262872022...|-0.00364473528020...|0.012963224150263075|-9.83609000518970...|-0.00632911392405...|-0.01307189542483...|-0.01052631578947...|-0.00855920114122688|-0.00820308169825...|-0.00100410771337...|-2.56828425770905...|-0.00823757441506301|-0.00570168769955...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|                 0.0|                 0.0|                 0.0|0.005972786295346255|                 0.0|0.008800086196744106|                 0.0|                 0.0|                 0.0|0.018895348837209225|7.765697803416849E-4|0.001371115173674...|-3.85094283917197...|-8.29990316779549...|-7.59647523549178...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|0.001134636044173...|                 0.0|2.985386532916578...|3.975465458998517E-4|-0.00151219737687...|0.006518615613420...|-0.00628930817610...|                 0.0|-0.01554404145077...|0.002854918245523086|9.974509586612168E-4|1.828320687449203E-4|7.705446466421684E-5|4.844961240308976E-4|9.885179834234759E-4|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}| 0.00542170899230876|-0.00134545645661...|0.001301994675771...|1.881038585223038...|0.001257922562057...|-0.01248366419814...|0.006329113924050667|0.006578947368421018|0.005208333333333259|0.001820072802912076|-4.43115099146962...|-4.56871345029252...|-0.00112885639150...|-0.00324249741290...|-7.59820682319056...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|0.001143412439165381|0.008094181332671369|0.008246431848473179|-0.00202054485990...|0.002548875937078643|-0.00245831419241...|0.006369426751592355|                 0.0|                 0.0|0.007861635220125729|0.005905950523735104|-7.30460189919623...|-3.84689363339130...|-0.00336908690869...|0.003354425554623841|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|0.004385505420548386|-7.71432201697841...|0.002127659574467...|-0.00290710913107195|-0.00300241606271...|-0.00139605929408...|0.006410256410256...|-0.01298701298701...|                 0.0|-5.23834468307948...|-8.90670229347634...|5.481454412570308E-4|0.001181107416584...|-0.00315284441398...|-0.00243364514411...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|0.002055737460931...|-0.00494211620708...|-0.00145100917185...|-0.00547200795142...|0.001454547544131...|-0.00223167895492...|                 0.0|0.006535947712418277|0.015873015873015817|0.008452192287374594|0.002343488449949...|-8.21542674577902E-4|                 0.0|-4.79550592587418...|-0.00159453302961...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|8.285621188846015E-4|-0.00893742830590...|-0.00390542854567...|0.004749847092247794|0.012200774390370261|0.013604845080312566|-0.00636942675159...|-0.00649350649350...|                 0.0|0.012028869286287103|-0.00189351748719091|0.001188082617437...|-2.05367800895861...|0.004887787415668532|0.002817330389096151|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|0.022521432146043185|0.009406205957815938|0.012272301833749388|-0.00294508202521...|-0.00648914899580...| 0.00487120169748656|                 0.0|                 0.0|0.038461538461538325|-0.00279888044782...|-0.00144589033477...|3.656975681112229E-4|-8.07982352639458...|-0.00123762376237...|-0.00250645602308...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|0.010994752160935484|0.004619699220369089|0.005907284858249...|0.025540868848028975| 0.02569520644110157| 0.01984055594676959|0.006410256410256...|-0.00645161290322...|-0.04210526315789...|-0.00989707046714...|5.564210994881691E-4|0.006718821905200123|-0.00111454156471...|0.001308089500860...|-3.03720577069066...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|0.007929326173566675|0.005697229883605992|0.003989162037100202|0.001408609661651461|0.013087047197211543|-0.00300557299340...|-0.00636942675159...|                 0.0| 0.06145251396648033|-0.00315706393054...|-0.00410063171894...|-1.84043434250491...|-7.68058986930109...|-0.00704129067541...|-0.00506156984210937|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|3.451736681008288...|0.005816052979483954|0.002197321149173481|-7.82992363581813...|0.007898513501347848|6.076331024156278E-4|0.006410256410256...|-0.00641025641025...|-0.03243243243243...|0.001713005666095...|-5.53832521045682...|9.210647508519632E-4|-0.00177617623757...|-0.00313479623824...|-7.55401117993326...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|-0.00278411368694...|-0.00266221869871...|0.001846760032549577|-8.75347300763662...|-0.00219326635900...|0.001265579073021...|0.012987012987013102|                 0.0|0.010928961748633892|-6.58414537792917...|-5.53525960367506...|8.296460176990816E-4|-2.81042411854892...|0.001569858712715...|-0.00158382985142...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|-7.95617473748788...|-0.00463066339170...|-0.00590267902607...|0.003267050320282...|-1.37366939928718...|-0.00177839734111...|0.006535947712418277|-0.00636942675159...|-0.00543478260869...|-0.00210249671484...|-6.63790242283468...|-9.20979922637621...|-2.17121984239399E-4|0.002394636015325746|3.017729158809601E-4|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|  0.0142633986424483|0.008562367864693554|0.012127793434513201|0.002330892284107211|0.010730807139173626|0.005936546234430...|-0.00649350649350...|0.006410256410256...|0.022222222222222143|-3.94062787337445...|0.002328675981370...|-0.00330457132366...|7.663716135941634E-5|-0.00177571370031...|0.005690440060697...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|-0.00704597621200...|-0.00652711412062...|3.224315824321699...|0.007125928724287...|0.005927276522337044|0.007673086014410968|-0.00645161290322...|                 0.0|0.016949152542372836|-0.00665448851774...|-0.00132890365448...|0.002576845205227274|3.832004904968933E-5|-6.82920166632516...|-0.00767956633037...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|0.004154350753482472|0.011646518015996143|0.012651862509210465|-0.01046116285803...|-0.01245637766991392|-3.29776764500411...|-0.01273885350318471|-0.00636942675159...|0.029069767441860517|-0.00480457083495...|-1.10729708780898...|-0.00183722212015...|3.832151753213608...|0.002395947426067746|-0.00135338345864...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
|   ABM|2019-12-31 00:00:00| 36.4209157617|-0.01237946312078...|     {}|   {}|-0.01745553765197072|0.001898234279596...|-0.01028558393845...|-0.00636180114324...|-0.00202006298421...|0.003918082616017449|-0.01875000000000...|-0.01875000000000...|-0.06010928961748...|-0.00657894736842...|-0.00550600154168...|-0.00711419190076612|1.277400235033532...|-0.00821508588498876|0.001129092961987...|0.004687982336352148|2019-12-31 00:00:00|             0.0|
+------+-------------------+--------------+--------------------+-------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+----------------+
only showing top 20 rows

# Section 6: Run Linear Regression model on mega data.

### Step 1: Split the data into features and label

In [33]:
label = mega_data_sdf['price_DoD']
features = mega_data_sdf['FTSE100_DoD', 'DAX_DoD', 'CAC_DoD', 'Nikkei225_DoD', 'Hang_Seng_DoD', 'SHSZ300_DoD', '3M_DoD', '1Y_DoD', '10Y_DoD', 
                           'USDGBP_DoD', 'USDEUR_DoD', 'USDJPY_DoD', 'USDHKD_DoD', 'USDAUD_DoD', 'USDCAD_DoD', 'real_gdp_QoQ', 'unemployment_MoM']

train_sdf, test_sdf = mega_data_sdf.randomSplit([0.8, 0.2])

from pyspark.ml.feature import StringIndexer, VectorAssembler
assembler = VectorAssembler(inputCols=features, outputCol="features", handleInvalid="skip")
featured_sdf = assembler.transform(mega_data_sdf)

TypeError: ignored

### Step: Run linear regression model.

In [31]:
from pyspark.ml.regression import LinearRegression

lr = LinearRegression(featuresCol=features, labelCol=label)
lr_model = lr.fit(train_sdf)

trainingSummary = lr_model.summary

print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

TypeError: ignored

# Section 7: Construct our portfolio with GLM.